<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>anagrams</key>
	<array>
		<array>
			<integer>1</integer>
			<string>considerate</string>
			<string>care is noted</string>
		</array>
		<array>
			<integer>1</integer>
			<string>pools</string>
			<string>spool</string>
		</array>
		<array>
			<integer>1</integer>
			<string>robed</string>
			<string>bored</string>
		</array>
		<array>
			<integer>1</integer>
			<string>melon</string>
			<string>lemon</string>
		</array>
		<array>
			<integer>1</integer>
			<string>admirer</string>
			<string>married</string>
		</array>
		<array>
			<integer>2</integer>
			<string>meals</string>
			<string>males</string>
		</array>
		<array>
			<integer>1</integer>
			<string>listen</string>
			<string>silent</string>
		</array>
		<array>
			<integer>2</integer>
			<string>march</string>
			<string>charm</string>
		</array>
	</array>
	<key>pointsPerTile</key>
	<integer>50</integer>
	<key>timeToSolve</key>
	<integer>360</integer>
</dict>
</plist>
