<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>hinttime</key>
	<integer>10</integer>
	<key>anagrams</key>
	<array>
		<array>
			<integer>1</integer>
			<string>robed</string>
			<string>bored</string>
		</array>
		<array>
			<integer>1</integer>
			<string>posts</string>
			<string>stops</string>
		</array>
		<array>
			<integer>1</integer>
			<string>adhere</string>
			<string>header</string>
		</array>
		<array>
			<integer>1</integer>
			<string>debit card</string>
			<string>bad credit</string>
		</array>
		<array>
			<integer>1</integer>
			<string>the shining</string>
			<string>highest inn</string>
		</array>
		<array>
			<integer>1</integer>
			<string>idiot rant</string>
			<string>radio tint</string>
		</array>
		<array>
			<integer>1</integer>
			<string>eat bread</string>
			<string>a debater</string>
		</array>
		<array>
			<integer>1</integer>
			<string>admirer</string>
			<string>married</string>
		</array>
		<array>
			<integer>1</integer>
			<string>excepted</string>
			<string>expected</string>
		</array>
		<array>
			<integer>1</integer>
			<string>dynamite</string>
			<string>may it end</string>
		</array>
	</array>
	<key>pointsPerTile</key>
	<integer>50</integer>
	<key>timeToSolve</key>
	<integer>1200</integer>
</dict>
</plist>
