<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>hinttime</key>
	<integer>10</integer>
	<key>anagrams</key>
	<array>
		<array>
			<integer>1</integer>
			<string>an aisle</string>
			<string>is a lane</string>
		</array>
		<array>
			<integer>1</integer>
			<string>limericks</string>
			<string>slick rime</string>
		</array>
		<array>
			<integer>1</integer>
			<string>robed</string>
			<string>bored</string>
		</array>
		<array>
			<integer>1</integer>
			<string>melon</string>
			<string>lemon</string>
		</array>
		<array>
			<integer>1</integer>
			<string>admirer</string>
			<string>married</string>
		</array>
		<array>
			<integer>1</integer>
			<string>meals</string>
			<string>males</string>
		</array>
		<array>
			<integer>1</integer>
			<string>listen</string>
			<string>silent</string>
		</array>
		<array>
			<integer>1</integer>
			<string>march</string>
			<string>charm</string>
		</array>
	</array>
	<key>pointsPerTile</key>
	<integer>50</integer>
	<key>timeToSolve</key>
	<integer>360</integer>
</dict>
</plist>
