<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>hinttime</key>
	<integer>8</integer>
	<key>anagrams</key>
	<array>
		<array>
			<string>races</string>
			<string>cares</string>
		</array>
		<array>
			<string>votes</string>
			<string>stove</string>
		</array>
		<array>
			<string>truth is</string>
			<string>it hurts</string>
		</array>
		<array>
			<string>fringe</string>
			<string>finger</string>
		</array>
		<array>
			<string>the eyes</string>
			<string>they see</string>
		</array>
		<array>
			<string>limped</string>
			<string>dimple</string>
		</array>
		<array>
			<string>this ear</string>
			<string>it hears</string>
		</array>
		<array>
			<string>salvages</string>
			<string>las vegas</string>
		</array>
		<array>
			<string>enlarge</string>
			<string>general</string>
		</array>
	</array>
	<key>timeToSolve</key>
	<integer>360</integer>
	<key>pointsPerTile</key>
	<integer>30</integer>
</dict>
</plist>
