<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>hinttime</key>
	<integer>12</integer>
	<key>anagrams</key>
	<array>
		<array>
			<string>mummy</string>
			<string>my mum</string>
		</array>
		<array>
			<string>semolina</string>
			<string>is no meal</string>
		</array>
		<array>
			<string>mel gibson</string>
			<string>bong smile</string>
		</array>
		<array>
			<string>the ears</string>
			<string>hear set</string>
		</array>
		<array>
			<string>tired nerves</string>
			<string>tense driver</string>
		</array>
		<array>
			<string>stormy weather</string>
			<string>showery matter</string>
		</array>
		<array>
			<string>western union</string>
			<string>no wire unsent</string>
		</array>
		<array>
			<string>fourth of july</string>
			<string>joyful fourth</string>
		</array>
		<array>
			<string>funeral</string>
			<string>real fun</string>
		</array>
	</array>
	<key>timeToSolve</key>
	<integer>600</integer>
	<key>pointsPerTile</key>
	<integer>50</integer>
</dict>
</plist>
