<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>anagrams</key>
	<array>
		<array>
			<string>truth is</string>
			<string>it hurts</string>
		</array>
		<array>
			<string>skill</string>
			<string>kills</string>
		</array>
		<array>
			<string>a telescope</string>
			<string>to see place</string>
		</array>
		<array>
			<string>keen</string>
			<string>knee</string>
		</array>
		<array>
			<string>this ear</string>
			<string>it hears</string>
		</array>
		<array>
			<string>strip</string>
			<string>trips</string>
		</array>
	</array>
	<key>timeToSolve</key>
	<integer>240</integer>
	<key>pointsPerTile</key>
	<integer>30</integer>
</dict>
</plist>
